@font-face {
  font-family: 'ReturnToSender';
  src: url('fonts/Return_To_Sender.ttf');
}
@font-face {
  font-family: 'Ghostz';
  src: url('fonts/Ghostz.ttf');
}
body{
  background-image: url('images/redwood.jpg');
  background-repeat: repeapt;
}
header{
  text-align: center;
  color: white;
  font-size: 2em;
}


.list-food{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;  
}
.food{
  width: 400px;
  padding: 20px;
}
.food-title{
  font-family: 'Ghostz';
  font-size: 2.5em;
  color: white;
  align-items: center;
  text-align: center;
  font-weight: bold;  
  margin-bottom: 20px;
}
.food-description{
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.food-price{
  background: black;
  border: 2px solid white;
  width: min-content;
  color: white;
  padding: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.wing{
  display: flex;
  flex-direction: row;
  border: 2px solid white;
}
.wing-section{
  flex: 1;
  background-color: black;
}
.wing-header{
  display: flex;
  justify-content: space-evenly;
}
.wing-header-tittle{
  text-align: center;
  color: white;
  font-family: 'ReturnToSender';
  font-size: 3em;
  width: min(100% - 4rem, 200px);
}
.wing-header-price{
  display: flex;
  font-family: 'ReturnToSender';
  justify-content: center;
  align-items: center;  
  font-size: 2em;
  color: white;
  background-color: red;
  padding: 3px;
	clip-path: circle(50%);
}
.wing-body{
  text-align: center;
  font-size: 1.3em;
  padding: 3%;
  color: white;
}
img{
  max-width: 100%;  
}


@media only screen and (max-width: 600px) {
  .wing{
    display: block;
  }
  
  .wing:nth-child(2){
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  } 
}