@font-face {
  font-family: 'Shadow7WdR';
  src: url('fonts/Shadow-7WdR.ttf');
}

@font-face {
  font-family: 'ReturnToSender';
  src: url('fonts/Return_To_Sender.ttf');
}
@font-face {
  font-family: 'Huamanpoma';
  src: url('fonts/huamanpoma.ttf');
}
@font-face {
  font-family: 'BreeSerifRegular';
  src: url('fonts/BreeSerif-Regular.otf');
}

@font-face {
  font-family: 'MF26Banners';
  src: url('fonts/MF26Banners.ttf');
}

* {
  font-family: 'BreeSerifRegular';
}

body{
  background-image: url('images/redwood.jpg');
  background-repeat: repeapt;
}
header{
  text-align: center;
  color: white;
  font-size: 2em;
}

.idioma{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  text-align: right;
  margin-right: 5px;
}

.food-type-tittle{
  font-family: 'Shadow7WdR'; 
  font-size: 4em;  
  color: white;
  text-align: center;
  border: 3px outset gray;
  margin: 0 5%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.imagen-seccion{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.list-food{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;  
}
.food{
  width: 400px;
  padding: 20px;
}
.food-title{
  font-family: 'Huamanpoma';
  font-size: 2.5em;
  color: white;
  align-items: center;
  text-align: center;
  font-weight: bold;  
  margin-bottom: 20px;
}
.food-description{
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.food-price{
  background: black;
  border: 2px solid white;
  width: min-content;
  color: white;
  padding: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.wing{
  display: flex;
  flex-direction: row;
  border: 2px solid white;
}
.wing-section{
  flex: 1;
  background-color: black;
}
.wing-header{
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}
.wing-header-tittle{
  text-align: center;
  color: white;
  font-family: 'ReturnToSender';
  font-size: 3em;
  width: min(100% - 4rem, 200px);
}
.wing-header-price{
  display: flex;
  font-family: 'ReturnToSender';
  justify-content: center;
  align-items: center;  
  font-size: 2em;
  color: white;
  background-color: red;
  padding: 3px;
	clip-path: circle(50%);
}
.wing-body{
  text-align: center;
  font-size: 1.3em;
  padding: 3%;
  color: white;
}
img{
  max-width: 100%;  
}

/*h1{
  font-family: 'MF26Banners';
  font-size: 20px;
}*/
@media only screen and (max-width: 600px) {
  .wing{
    display: block;
  }
  
  .wing:nth-child(2){
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  } 
}